h1 {
  color: silver;
  border-style: double;
  border-width: 5px;
  border-color: red;
  text-decoration: underline;
}
h2 {
  color: #ffffff;
  border-style: groove;
  border-width: 3px;
  border-color: lime;
}
h3{
  color: #DC143C;
  border-style: outset;
  border-width: 1px;
}
h4 {
  color: rgb(255, 100, 100);
  border-style: inset;
  border-width: 1px;
  border-color: hsl(4, 30%, 60%);
  font-family: 'Lobster', cursive;
}
em.underline {
  text-decoration: underline;
}
p {
  color: red;
  margin: 20px;
  background-color: black;
}
body {
  background-color: rgb(0,0,0);
  color: white;
}
.important {
  font-weight: bold;
  text-decoration: underline;
}
.important:hover {
  background-color:pink;
}
p.important {
  width: 75%;
  font-family: 'Permanent Marker', cursive;
}
.righteous {
  font-family: 'Righteous', cursive;
}
a {
  background-color: white;
  color: royalblue;
  padding: .2rem;
}
a:visited {
  color: purple;
}
a:hover {
  background-color: yellow;
}
img {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width:70%;
}
ul.a {
  list-style-type: square;
}
li {
  padding: 5px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}
.box {
  height: 10rem;
  width: 90%;
  background: black;
}
.container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
li.border:hover{
  border: 3px solid red;
}
li.border:hover{
  border: 3px solid red;
}
li.bigtext:hover {
  color: gold;
  font-size: 24px;
}
li.background:hover {
  background-color: silver;
}
li.rotate:hover {
  transform: rotate(1080deg);
}
.odd:nth-child(odd) {
  border: 1px solid silver;
}
.even:nth-child(even) {
  background-color: silver;
  color: black;
}
