/*Changed header background color to get 4.5:1. Was 3.26:1 w/ #0099CC background color*/
header {
  height: 8rem;
  background-color: #007AA3;
  padding: 4em;
}
h1 {
  color: white;
  border-color: rgb(0, 153, 204);
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/*Changed h3 foreground(text) color to get 4.5:1 or greater. Was 3.05:1 w/ #5f9ea0 foreground color*/
h3{
  color:#4B7B7C;
  border-width: 1px;
}
/*Changed h4, text and body foreground(text) color from grey to #757575 to get 4.5:1 or greater.*/
h4 {
  color: #757575;
  border-width: 1px;
}
p {
  color: #757575;
  font-size:10px;
}
body {
  background-color: white;
  color: #757575;
  padding: 0em 4em;
}
section {
  padding: 2em 1em;
}
footer {
  text-align: center;
  background-color:rgb(51, 51, 51);
  color:white;
  padding: 2em;
}
.nav-footer {
  font-family: Arial, Helvetica, sans-serif;
  height: 1rem;
  background-color: rgb(51, 51, 51);
  padding: 1em 4em;
}
.quote {
  font-weight: bold;
  color: #007AA3;
}
.content-box {
  float: right;
  width: 30%;
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  height: 1rem;
  background-color: white;
  padding: 1em 4em;
}
a.one {
  color: black;
  text-decoration: none;
}
a.two {
  color: white;
  text-decoration: none;
}
img {
  width:50%;
}
.box {
  height: 14rem;
  width: 100%;
  border-left: 60px;
  background: white;
}
.container {
  height: 42rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
